@import 'tailwindcss';

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

html {
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.btn {
	border-radius: 0.5rem;
	display: inline-block;
	overflow: hidden;
	padding: 1rem 1.3rem 1.3rem;
	position: relative;
	white-space: nowrap;
}

.btn--dark {
	color: #fff;
}

.p {
	font-size: 1.8rem;
	line-height: 1;
}

.btn span {
	position: relative;
	z-index: 2;
}

.btn__label {
	display: block;
	position: relative;
	transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);
	z-index: 2;
}

.btn__label--ghost {
	color: #141414;
	display: block;
	left: 0;
	padding: 1rem 1.3rem 1.3rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transform: translateY(100%);
	white-space: nowrap;
}

.btn--active .btn__label,
.btn--active:before,
.btn:hover .btn__label,
.btn:hover:before {
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.btn--active .btn__label--main,
.btn:hover .btn__label--main {
	transform: translateY(-4rem);
}

.btn--active .btn__label--ghost,
.btn:hover .btn__label--ghost {
	transform: translateY(-50%);
}

.btn:after,
.btn:before {
	border-radius: 0.5rem;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.btn:before {
	background-color: #0f0;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 0.6s cubic-bezier(1, 0, 0.25, 0.995);
	z-index: 1;
}

.btn--active:before,
.btn:hover:before {
	transform: scaleY(1);
}

.btn--dark:after {
	background-color: #141414;
}
