@import 'tailwindcss';

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

html {
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--timing: 0.45s;
	--ease: cubic-bezier(1, 0, 0.25, 0.995);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	/* Button Osmo Animations */
	@keyframes slideOut {
		to {
			transform: translateX(100%) rotate(20deg) translateY(10px);
		}
	}

	@keyframes slideIn {
		from {
			transform: translateX(-100%) translateY(10px) rotate(-20deg);
		}
		to {
			transform: translateX(0%) rotate(0deg);
		}
	}

	.btn-osmo:hover .span-visible {
		animation: slideOut var(--timing) var(--ease);
	}

	.btn-osmo:hover .span-hidden {
		animation: slideIn var(--timing) var(--ease);
	}
}
